:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EEEFF3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Muller', sans-serif;
  background-color: #f0f0f5;
}

h1 {
  font-family: 'Neue Machina', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: #1C1D23;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group__inner {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  background-color: #ffffff;
  border-radius: 14px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #000;
}

.error-message {
  color: red;
  margin-top: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button[type="submit"] {
  background-color: #B1F041;
  color: #000202;
  padding: 12px;
  margin: 30px 0 65px;
  border: none;
  font-family: 'Neue Machina', sans-serif;
}

.register {
  padding: 30px;
  width: 500px;
  max-width: 90%;
}

.register-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #EEEFF3;
  border-radius: 40px;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
}

.register-container {
  width: 45%;
}

.image-container {
  width: 50%;
  position: relative;
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 37px 37px;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  height: auto;
}

.already-user {
  color: #747681;
  font-weight: 600;
}

.redirect-link {
  color: #1C1D23;
  font-weight: 800;
}

.form-group.row {
  display: flex;
  gap: 10px;
}

.form-group.row .col {
  flex: 1;
}

@media (max-width: 768px) {
  .form-group.row {
    flex-direction: column;
    gap: 15px;
  }

  .register-page {
    flex-direction: column;
    align-items: flex-start;
  }

  .register-container, .image-container {
    width: 100%;
  }

  .image-container {
    margin-top: 30px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
